#container {
    background-color: black;
    color: white;
    height: 100%;
}
#header {
    padding-top: 80px;
}
#header a {
    text-decoration: none;
    color: white;
}
h1 {
    text-align: center;
    font-size: 6em;
    padding-bottom: 80px;
}
#school, #personal {
    width: 500px;
}
img {
    width: 100%;
}
#content {
    background-color: black;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
}
p {
    font-size: 6em
}