#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}
#left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: darkgray;
    color: white;
    font-size: 2em;
    width: 30%;
    height: 100%;
    position: fixed;
}
#text {
    padding: 60px;
}
h1 {
    font-size: 2em;
    margin-bottom: 40px;
}
#info p {
    line-height: 2;
}
#Education {
    margin-top: 40px;
    margin-bottom: 60px;
}
#right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: black;
    color: white;
    padding: 60px;
    font-size: 2em;
}
h2 {
    font-weight: bold;
    line-height: 1.5;
}
#statement, #skills, #work {
    margin-bottom: 30px;
}

#statement, #skills {
    border-bottom: 1px solid white;
}
ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 30px;
}
#statement p {
    margin-bottom: 30px;
}
