#container {
    background-color: black;
    color: white;
}
#header {
    padding-top: 80px;
}
#header .links ul {
    list-style: none;
}
#header a {
    text-decoration: none;
    color: white;
}
#header .links li {
    display: inline-block;
    font-size: 2em;
    padding: 30px;
}
h1 {
    text-align: center;
    font-size: 6em;
    padding-bottom: 80px;
}
.links li:hover {
    background-color: darkgray;
}
#content {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.img {
    width: 30%;
    margin-bottom: 50px;
}
.img img {
    width: 100%;
}
.img:hover {
    border: 1px solid white;
}
.img img:hover {
    display: none;
}
.img #info {
    margin-top: 30px;
    margin-left: 30px;
    display: none;
}
.img li {
    padding: 30px;
}
.img:hover #info {
    display: block;
}

@media only screen and (max-width: 1000px) {
    #content {
        margin-left: 50px;
        margin-right: 50px;
    }
    #header ul {
        text-align: center;
    } 
}
@media only screen and (max-width: 600px) {
    .img {
        width: 100%;
    }
    #content {
        margin-left: 30px;
        margin-right: 30px;
    }
    .img:hover {
        border: none;
    }
    .img #info {
        display: block;
    }
    .img img:hover {
        display: block;
    }
}
